.formTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(50, 49, 48);
  box-sizing: border-box;
  box-shadow: none;
  margin: 0px;
  display: block;
  padding: 5px 0px;
  overflow-wrap: break-word;
}

.controlTable {
  th {
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 4px;
  }
  td {
    text-align: left;
    padding: 4px;
    border-bottom: 1px solid #ccc;
  }
}
.createNewItemButton {
  width: 200px;
}
.filterInput {
  width: 192px;
}
.panelFooter {
  gap: 10px;
  display: flex;
}
.panelHeader {
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
