.App {
  width: 98%;
  margin-left: 1%;
}
#outputContainer > div {
  border-bottom: solid darkgray 2px;
}
#containerContainer {
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 10px;
  > div {
    min-width: 50%;
    max-height: 800px;
    overflow-y: auto;
  }
}

#saveLoadContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 0px;
}
#buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: fixed;
  background-color: white;
  z-index: 999999;
  padding: 3px 0px;
}
#outputContainer {
  margin-top: 20px;
}
